In [1]:
import pandas as pd
import glob
import numpy as np
import os
import matplotlib.pyplot as plt

# Set working directory
os.chdir(f'/beegfs/scratch/ric.broccoli/kubacki.michal/SRF_CUTandTAG/iterative_alternative')

In [3]:
# Load differential expression analysis results
dea_nsc = pd.read_csv('../DATA/DEA_NSC.csv')
dea_neu = pd.read_csv('../DATA/DEA_NEU.csv')

In [4]:
print(dea_nsc.shape)
dea_nsc.head()

(14245, 7)

,gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,Mir5125,128.824113,0.000073,0.189117,0.000383,0.999694,0.999694
1,Trim68,98.639563,0.000133,0.215486,0.000617,0.999508,0.999614
2,Frrs1,442.946120,0.000097,0.109825,0.000883,0.999295,0.999556
3,Notch4,60.968185,0.000246,0.266300,0.000925,0.999262,0.999556
4,Ano6,5982.860518,0.000074,0.070708,0.001043,0.999168,0.999503

In [5]:
print(dea_neu.shape)
dea_neu.head()

(12945, 7)

,gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,H2afy2,898.006083,-0.000002,0.096164,-0.000017,0.999986,0.999986
1,Lurap1l,248.853019,0.000021,0.175418,0.000119,0.999905,0.999970
2,Tcea1,1680.603269,0.000090,0.088197,0.001019,0.999187,0.999963
3,Igdcc4,872.289717,0.000126,0.100337,0.001255,0.998999,0.999963
4,Kdm6a,792.508606,-0.000035,0.108607,-0.000325,0.999741,0.999963

In [6]:
dea_nsc = dea_nsc[dea_nsc['padj'] < 0.05]
print(dea_nsc.shape)

dea_neu = dea_neu[dea_neu['padj'] < 0.05]
print(dea_neu.shape)

(8908, 7)
(2115, 7)

In [7]:
expression_threshold = dea_nsc['baseMean'].quantile(0.02)
print(expression_threshold)

expression_threshold = dea_neu['baseMean'].quantile(0.02)
print(expression_threshold)

60.457748287200005
83.6236023872

In [8]:
dea_nsc = dea_nsc[dea_nsc['baseMean'] > expression_threshold]
print(dea_nsc.shape)

dea_neu = dea_neu[dea_neu['baseMean'] > expression_threshold]
print(dea_neu.shape)

(8378, 7)
(2072, 7)

In [9]:
dea_nsc.to_csv(f'/beegfs/scratch/ric.broccoli/kubacki.michal/SRF_CUTandTAG/iterative_alternative/DATA/DEA_NSC_filtered.csv', index=False)
dea_neu.to_csv(f'/beegfs/scratch/ric.broccoli/kubacki.michal/SRF_CUTandTAG/iterative_alternative/DATA/DEA_NEU_filtered.csv', index=False)